.card-panel {
  -webkit-box-shadow: 0 3px 33px 0 rgba(0,0,0,0.11) !important;
  box-shadow: 0 3px 33px 0 rgba(0,0,0,0.11) !important;
}
.side-menu {
  padding-top: 1em !important;
  background-color: #0090cd;
  -webkit-box-shadow: 0 3px 61px 0 rgba(0,0,0,0.32);
  box-shadow: 0 3px 61px 0 rgba(0,0,0,0.32);
}
.side-menu__list ul {
  color: #fff;
}
.side-menu__list ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: solid 1px rgba(255,255,255,0.6);
}
.home-wrap {
  height: 100vh;
}
.home-wrap >div.row {
  margin-bottom: 0 !important;
  height: 100%;
}
.home-wrap >div.row >div {
  height: 100%;
}
.main {
  height: 100%;
  padding-left: 2em;
  padding-right: 2em;
}
.main .title-bar {
  padding-top: 1em;
  padding-bottom: 1em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  border-bottom: solid 1px #ededed;
  margin-bottom: 2em;
}
.main .title-bar__name {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  font-size: 2em;
  font-weight: 100;
  color: #9f9f9f;
}
.main .title-bar__name span {
  font-size: 0.6em;
  color: #0090cd;
}
table .table_options {
  text-align: right;
}
table .table_options a {
  padding: 0.5em;
}
table .table_options a img {
  width: 1.5em;
}
