body,
html {
  height: 100vh;
}
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
header {
  background: #0090cd;
  min-height: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background-image: -webkit-linear-gradient(119deg, #0caef2, rgba(255,255,255,0.01));
  background-image: -moz-linear-gradient(119deg, #0caef2, rgba(255,255,255,0.01));
  background-image: -o-linear-gradient(119deg, #0caef2, rgba(255,255,255,0.01));
  background-image: -ms-linear-gradient(119deg, #0caef2, rgba(255,255,255,0.01));
  background-image: linear-gradient(331deg, #0caef2, rgba(255,255,255,0.01));
  background-image: -webkit-linear-gradient(119deg, #0090cd, rgba(255,255,255,0.01));
  background-image: -moz-linear-gradient(119deg, #0090cd, rgba(255,255,255,0.01));
  background-image: -o-linear-gradient(119deg, #0090cd, rgba(255,255,255,0.01));
  background-image: -ms-linear-gradient(119deg, #0090cd, rgba(255,255,255,0.01));
  background-image: linear-gradient(331deg, #0090cd, rgba(255,255,255,0.01));
  background-image: url("../img/bg.png");
  background-position: right top;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  background-repeat: no-repeat;
}
header .container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
header .container .slogan {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 1.7em;
  font-weight: 100;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  color: #fff;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: end;
  -moz-box-align: end;
  -o-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.diagonal {
  width: 0;
  height: 0;
  border-left: 100vw solid #0090cd;
  border-bottom: 150px solid transparent;
}
main {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  margin-top: -100px;
}
.menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.menu .logo {
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
  padding-top: 1em;
}
.menu .logo img {
  max-width: 14em;
}
.menu .items {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.menu .items li {
  margin-left: 1em;
}
.menu .items li a {
  color: #fff;
}
.simulator__menu {
  background: #34c97c;
}
.simulator__menu__items {
  display: block;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  -o-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.simulator__menu__items li {
  height: 3em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  color: #fff;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
.simulator__menu__items .selected {
  background: #20a05e;
}
.simulator__main {
  color: #808080;
  padding: 1em;
}
.simulator__main__description {
  width: 40%;
}
.simulator__main__form {
  padding-left: 1em;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -webkit-flex-grow: 2;
  flex-grow: 2;
}
.money {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -o-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.money >:nth-child(2) {
  width: 4em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1.5em;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.money h6 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
}
section.msg {
  color: #797979;
  padding-top: 2em;
  padding-bottom: 2em;
}
footer {
  background: #ededed;
  padding: 0.5em;
  color: #808080;
}
@media (min-width: 576px) {
  .simulator__menu__items {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
.login-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(bottom, rgba(0,115,163,0.99) 20%, rgba(95,189,229,0.8)), url("../img/loginbg.jpg");
  background-image: -moz-linear-gradient(bottom, rgba(0,115,163,0.99) 20%, rgba(95,189,229,0.8)), url("../img/loginbg.jpg");
  background-image: -o-linear-gradient(bottom, rgba(0,115,163,0.99) 20%, rgba(95,189,229,0.8)), url("../img/loginbg.jpg");
  background-image: -ms-linear-gradient(bottom, rgba(0,115,163,0.99) 20%, rgba(95,189,229,0.8)), url("../img/loginbg.jpg");
  background-image: linear-gradient(to top, rgba(0,115,163,0.99) 20%, rgba(95,189,229,0.8)), url("../img/loginbg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.login-wrap .card-panel {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  padding: 0;
  margin: 0;
}
.login-wrap .card-panel .brand {
  background: #0090cd;
  padding: 1em;
  color: #fff;
}
.login-wrap .card-panel .form {
  background: #fff;
  padding: 1em;
}
.photo-user {
  background: #f00;
}
