@import 'nib'
@import '/common.styl'

.card-panel
  box-shadow 0 3px 33px 0 rgba(0, 0, 0, 0.11) !important
.side-menu
  padding-top 1em !important
  background-color $blue-dark-color
  box-shadow 0 3px 61px 0 rgba(0, 0, 0, 0.32)
  &__list
    ul
      color white
      li
        padding-top 0.5em
        padding-bottom 0.5em
        border-bottom solid 1px rgba(255,255,255 0.6)

.home-wrap
  // background: red
  height: 100vh
  >div.row
    margin-bottom: 0!important
    height: 100%
    >div
      height: 100%

.main
  // background: lime
  height: 100%
  padding-left: 2em
  padding-right: 2em
  .title-bar
    padding-top 1em
    padding-bottom 1em
    display flex
    border-bottom solid 1px $gray-light-color
    margin-bottom: 2em
    &__name
      flex-grow 2
      font-size 2em
      font-weight 100
      color $gray-medium-color
      span
        font-size 0.6em
        color $blue-dark-color
table
  .table_options
    text-align right
    a
      padding: 0.5em
      img
        width: 1.5em
