.login-wrap
  display flex
  justify-content: center
  align-items: center
  width 100%
  height: 100vh
  background-image linear-gradient(bottom, 20% rgba(0,115,163, 0.99), rgba(95,189,229, 0.8)), url('../img/loginbg.jpg')
  background-size: cover
  .card-panel
    display: flex
    padding: 0
    margin: 0
    .brand
      background: #0090cd
      padding: 1em
      color: white
    .form
      background: white
      padding: 1em
