@import 'nib'
$blue-dark-color = #0090cd
$blue-light-color =#0caef2
$green-dark-color = #20a05e
$green-light-color = #34c97c
$gray-light-color = #ededed

body,html
   height 100vh
body
  background-color white
  margin 0
  padding 0
  display: flex
  flex-flow column
header
  background $blue-dark-color
  min-height:20%
  display: flex
  background-image: linear-gradient(331deg, #0caef2, rgba(255, 255, 255, 0.01));
  background-image: linear-gradient(331deg, $blue-dark-color, rgba(255, 255, 255, 0.01));
  background-image: url(../img/bg.png)
  background-position: right top;
  background-size auto
  background-repeat: no-repeat;
  .container
    display: flex
    flex-flow: column
    .slogan
      display: flex
      font-size: 1.7em
      font-weight: 100
      flex-grow: 2
      color white
      justify-content: center
      align-items: flex-end
.diagonal
   width: 0;
   height: 0;
   border-left: 100vw solid $blue-dark-color;
   border-bottom: 150px solid transparent;
main
  flex-grow: 2
  margin-top -100px
.menu
  display: flex
  .logo
    flex-grow: 2
    padding-top: 1em
    img
      max-width: 14em
  .items
    display: flex
    li
      margin-left 1em
      a
        color: white

.simulator
  &__menu
    background: $green-light-color
    &__items
      display: block
      justify-content: space-around;
      padding: 0
      margin: 0
      li
        height: 3em
        display: flex
        justify-content: center
        align-items: center
        color: white
        flex-grow: 2
      .selected
        background: $green-dark-color
  &__main
    color gray
    padding: 1em
    // display: flex
    &__description
      width: 40%
    &__form
      padding-left 1em
      flex-grow: 2
.money
  display: flex
  justify-content: flex-end;
  >:nth-child(2)
    width: 4em
    padding-left: 0.5em
    padding-right: 0.5em
    padding-top 1.5em
    // display: flex
    align-items: center
  h6
    font-size: 1.3em
    padding: 0
    margin: 0
section.msg
  color #797979
  padding-top 2em
  padding-bottom 2em
footer
  background: #ededed
  padding: 0.5em
  color gray

@media (min-width: 576px)
  .simulator
    &__menu
      &__items
        display: flex

@import 'styles/login.styl'
@import 'styles/users.styl'
