html(lang="es")
  head
    title Simulador Inverplux
    meta(charset="uft-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/index.css")
    

  body
    header
      .container
        .menu
          .logo
            img.responsive-img(src="img/logo.png")
          div.hide-on-med-and-up(style="color:white;margin-top:1.5em")
            i.material-icons dehaze
          ul.items.hide-on-small-only
            li
              a(href="#") INICIO
            li
              a(href="#") SIMULADOR
            
        .slogan.center-align.hide-on-small-only Conoce cuanto puedes ganar desde hoy.
    .diagonal
    main
      .container
        div.card.simulator.z-depth-5
          .simulator__menu
            ul.simulator__menu__items
              li.selected PLANES PLUX
              li PLANES BOX
              li PLANES SAVING
              li PLANES ESTUDIANTIL
              LI PLAN DE RETIRO
          .simulator__main.row
            .col.s12.m4
              h5 NAME PLAN
              p Description
            .col.s12.m8(style="border-left:solid 1px lightgray;")
              .input-field
                select
                  option(disabled selected) Placeholder select
                select
                  option(disabled selected) Placeholder select
                select
                  option(disabled selected) Placeholder select
              //- .simulator__main__description
              //-   h5 NAME PLAN
              //-   p Description
              //- .simulator__main__form
              //-   .input-field
              //-     select
              //-       option(disabled selected) Placeholder select
              //-     select
              //-       option(disabled selected) Placeholder select
              //-     select
              //-       option(disabled selected) Placeholder select
              div.right-align
                a.wave-effect.wave-light.btn.light-blue.lighten-1 Calcular ganancias
          .card-panel.hoverable.simulator__chart
            .row
              .col.s12.m7
                h4 Tu Inversión
              .col.s12.m5.money.right-align
                div
                  label Invierte
                  h6 $10,000
                div
                  img(src="../img/group-26.svg")
                div
                  label Recibe
                  h6 $12,000
                  
              
            canvas(id="myChart", width="1000vw", height="300vh")
    section.msg.center-align
      .container
        h4 ¿Aún no estas convencido?
        h6 Resolvemos todas tus dudas
        a.wave-effect.wave-light.btn.light-blue.lighten-1 Habla con un asesor
        br
        br
    footer
      .container 2018. Fondeadora de Inversión y Capital.

      script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
      script(type="text/javascript", src="js/index.js")
              
