html
  head
    title Inverplux
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/index.css")
    

  body
    div.login-wrap
      div.card-panel
        div.brand
            img.responsive-img(src="img/logo.png", style="width:15em")
            p Lorem ipsum 
        div.form
          form
            label nombre
            input 
            label nombre
            input 
            button(style="background-color:#0090cd").btn ENTRAR
  

      script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
              
