html(lang="es")
  head
    title Inverplux
    meta(charset="uft-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/home.css")
  body
    .home-wrap
      .row
        div.col.s2.side-menu
          div.side-menu__header
            img.responsive-img(src="img/logo.png", style="width:15em")
          div.side-menu__list
            ul
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
          
        div.col.s10
          div.main
            div.title-bar
              div.title-bar__name
                | Nuevo usuario
              div.title-bar__actions
                a.waves-effect.waves-light.btn Guardar
            section
              form.col.s6
                .row
                  .input-field.col.s12
                    input#password.validate(type="text")
                    label(for="usuario") Usuario
                .row
                  .input-field.col.s6
                    input#first_name.validate(type="text")
                    label(for="first_name") Nombre
                  .input-field.col.s6
                    input#last_name.validate(type="text")
                    label(for="last_name") Apellido
                .row
                  .input-field.col.s12
                    input.validate(type="email")
                    label(for="password") E mail
                .row
                  .input-field.col.s12
                    input.validate(type="email")
                    label(for="password") Calle
                .row
                  .input-field.col.s6
                    input#first_name.validate(type="text")
                    label(for="first_name") Num. exterior
                  .input-field.col.s6
                    input#last_name.validate(type="text")
                    label(for="last_name") Num. interior
                .row
                  .input-field.col.s6
                    input#first_name.validate(type="text")
                    label(for="first_name") Colonia
                  .input-field.col.s6
                    input#last_name.validate(type="text")
                    label(for="last_name") CP
                    .input-field.col.s12
                .row
                  select
                    option(value="", disabled="", selected="") Choose your option
                    |       
                    option(value="1") Option 1
                    |       
                    option(value="2") Option 2
                    |       
                    option(value="3") Option 3
                  |     
                  label Estado
                .row
                  select
                    option(value="", disabled="", selected="") Choose your option
                    |       
                    option(value="1") Option 1
                    |       
                    option(value="2") Option 2
                    |       
                    option(value="3") Option 3
                  |     
                  label Municipio
              div.col.s6
                div.photo-users(style="width:5em; height:5em; border-radius:100%;") foto
                button.btn.waves-effect.waves-light(type="submit", name="action") Buscar

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
    script.
      $(document).ready(function() {
        $('select').material_select();
      });
