html(lang="es")
  head
    title Inverplux
    meta(charset="uft-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
    link( rel="stylesheet", href="./css/home.css")
  body
    .home-wrap
      .row
        div.col.s2.side-menu
          div.side-menu__header
            img.responsive-img(src="img/logo.png", style="width:15em")
          div.side-menu__list
            ul
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
              li
                a(href="#") item
          
        div.col.s10
          div.main
            div.title-bar
              div.title-bar__name
                a(href="home.html")
                  i.material-icons arrow_back
                | Perfiles /
                span agregar opciones a: valor
              div.title-bar__actions
            div.right-align
              a.waves-effect.waves-light.btn Nuevo perfil
              br
              br
            section.card-panel
              table.striped
                thead
                  tr
                    th OPCIÓN
                    th HABILITADO
                    th.right-align Acción
                    
                tbody
                  tr
                    td data
                    td SI
                    td.table_options
                      a(href="#")
                        img(src="img/ic-edit.svg")
                      a(href="#")
                        img(src="img/ic-delete.svg")
                  
                  tr
                    td data
                    td SI
                    td.table_options
                      a(href="#")
                        img(src="img/ic-edit.svg")
                      a(href="#")
                        img(src="img/ic-delete.svg")
                    
                  tr
                    td a
                    td NO
                    td.table_options
                      a(href="#")
                        img(src="img/ic-edit.svg")
                      a(href="#")
                        img(src="img/ic-delete.svg")
                    

      
  

    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
            
